<h1>修改用户信息 UserInfo</h1><h3><%=  params["messages"]%></h3>
<%= form_for(@user) do |f| %>
<table width="100%">
  <% if (@user.name==session["UserName"]) %>
    <tr>
        <td colspan="2">
          <%= label_tag "修改密码" %>
        </td>
    </tr>
    <tr>
        <td style="width:15%">
              <%= label_tag "旧密码" %>
        </td>
        <td>
              <%= text_field_tag :old_pwd,"",:type=>"password",:size=>"30"%>
        </td>
    </tr>
      <tr>
        <td>
           <%= label_tag "新密码" %>             :
        </td>
        <td>
              <%= f.text_field :password,:type=>"password" %>
        </td>
    </tr>
     <tr>
        <td>
            <%= label_tag "确认密码" %>                   :
        </td>
        <td>
          <%= f.text_field :password_confirmation,:type=>"password" %>
        </td>
    </tr>
      <% else %>
       <tr>
        <td colspan="2">
            <%= label_tag "用户名:" %>         &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;<a style=" font-size:18pt"><%= @user.name %></a>
        </td>
       </tr>
      <tr>
        <td width="15%">
            <%= label_tag "用户密码:" %>                :
        </td>
        <td>
                <%= f.text_field :password,:type=>"password" %>
        </td>
    </tr>
      <% end %>
    <tr>
        <td colspan="2">
          <%= label_tag "其他信息" %>
        </td>
    </tr>
    <tr>
        <td>
          <%= label_tag "真实姓名:" %>
        </td>
        <td>
          <%=f.text_field :full_name %>
        </td>
    </tr>
     <tr>
        <td>
          <%= label_tag "Email:" %>
        </td>
        <td>
          <%= f.text_field :email %>
        </td>
    </tr>
      <tr>
        <td colspan="2" align="center">
           <%= f.submit :"保    存" %>
        </td>
    </tr>
</table>
<% end  %>