<h1>用户管理 users</h1>

<div class="div_table">
     <div class="div_tr">
        <div class="div_th">
         <%= label_tag "用户名" %>
        </div>
        <div class="div_th">
         <%= label_tag "真实姓名" %>
        </div>
        <div class="div_th" style="width:280px">
         <%= label_tag "Email" %>
        </div>
       <div class="div_th">
         <%= label_tag "操作" %>
        </div>
    </div>
  <% @users.each do |user| %>
    <div class="div_tr">
      <div class="div_td">
         <%= user.name %>
      </div>
      <div class="div_td">
         <%= user.full_name %>
      </div>
      <div class="div_td"  style="width:280px">
         <%= user.email %>
      </div>
      <div class="div_td">
         <%= link_to "编辑",edit_user_path(user.id) %> |  <%= link_to '删除', user, :confirm => 'Are you sure?', :method => :delete %>
      </div>
    </div>
  <% end %>
    <div style="align:left; width:93%" align="right">
            <%= link_to '添加新用户', new_user_path %>
     </div>
</div>
