<h1>添加新用户 New User</h1><%= flash[:notice] %>
<%= form_for(@user) do |f| %>
<table width="100%">
    <tr>
        <td style="width:20%">
             用户名称:
        </td>
        <td>
          <div class="field">
          <%= f.text_field :name ,:size=>"30" %>
          </div>
        </td>
   </tr>
   <tr>
        <td style="width:20%">
             密码:
        </td>
        <td>
          <div class="field">
                <%= f.text_field :password,:type=>"password",:size=>"30" %>
          </div>
        </td>
   </tr>
   <tr>
        <td>
             真实姓名:
        </td>
        <td>
             <%= f.text_field :full_name ,:size=>"30" %>
        </td>
   </tr>
   <tr>
        <td>
             Email:
        </td>
        <td>
          <div class="field">
            <%= f.text_field :email ,:size=>"30" %> 
          </div>
        </td>
   </tr>
   <tr>
        <td colspan="2" align="center">
           <%= f.submit :"添    加" %> <%= link_to "返  回",users_path  %>
        </td>
   </tr>
</table>
<% end  %>